<div class="container">
    <div>Số người kết nối</div>
    <h2>...</h2>
    <div>ID connection</div>
    <h3>...</h3>
    <div>
        <h4>Người dùng A </h4>
        <p>IP:</p>
        <p>Browser :</p>
    </div>
</div>
