@page
    <div>
        <input type="button" id="joinGroup" value="Join PRivate Group" />
    </div>
<textarea name="message" id="message"></textarea>
    <select id="group" style="display:block;">
        <option value="All">EveryOne</option>
        <option value="My Selft">My Seft</option>
        <option value="Private Group">Private Group</option>
    </select>
    <input type="button" id="sendButton" value="Send Message" />

    <div id="messages">

    </div>



