<html>
<head>
    <script src="~/js/connect.js"></script>
</head>
<body>
    <div>
        <h1>@ViewBag.number</h1>
        <button class="btn btn-danger" onclick="showInfo()" value="showBroswer">showBroswer</button>
    </div>
    @*<ul>
            @foreach(var item in ViewBag.number)
            {
                <li>@item</li>
            }
        </ul>*@
    <div id="message">

    </div>
</body>

</html>